In [ ]:
import pandas as pd
import numpy as np
path1 = "/content/imports-85.data"

df = pd.read_csv(path1)

df_excel = pd.read_excel("/content/imports-85.name-excel.xlsx")

In [ ]:
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [ ]:
df_excel

,1. Title: 1985 Auto Imports Database,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2. Source Information:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-- Creator/Donor: Jeffrey C. Schlimmer (Jef...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-- Date: 19 May 1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-- Sources:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
93,19. 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,20. 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,22. 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,23. 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,26. 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   3            204 non-null    int64
 1   ?            204 non-null    object
 2   alfa-romero  204 non-null    object
 3   gas          204 non-null    object
 4   std          204 non-null    object
 5   two          204 non-null    object
 6   convertible  204 non-null    object
 7   rwd          204 non-null    object
 8   front        204 non-null    object
 9   88.60        204 non-null    float64
 10  168.80       204 non-null    float64
 11  64.10        204 non-null    float64
 12  48.80        204 non-null    float64
 13  2548         204 non-null    int64
 14  dohc         204 non-null    object
 15  four         204 non-null    object
 16  130          204 non-null    int64
 17  mpfi         204 non-null    object
 18  3.47         204 non-null    object
 19  2.68         204 non-null    object
 20  9.00         204 non-null    float64
 21  111          204 non-null    object
 22  5000         204 non-null    object
 23  21           204 non-null    int64
 24  27           204 non-null    int64
 25  13495        204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

# **Data Wrangling**

**Đổi tên cột**

In [ ]:
headers = ["symbolling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style", "drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type", "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]
df.columns=headers
df

,symbolling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symbolling         204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

**Thay thế ? = mean**

In [ ]:
# find all rows with '?' values in any column
cols_with_question_marks = df.columns[df.isin(['?']).any()]

cols_with_question_marks

Index(['normalized-losses', 'num-of-doors', 'bore', 'stroke', 'horsepower',
       'peak-rpm', 'price'],
      dtype='object')

In [ ]:
# replace '?' values with NaN
df = df.replace('?', np.nan)

# convert the column to numeric type
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'])
df['bore'] = pd.to_numeric(df['bore'])
df['stroke'] = pd.to_numeric(df['stroke'])
df['horsepower'] = pd.to_numeric(df['horsepower'])
df['peak-rpm'] = pd.to_numeric(df['peak-rpm'])
df['price'] = pd.to_numeric(df['price'])

# calculate the mean of the column (ignoring NaN values)
mean1 = df['normalized-losses'].mean(skipna=True)
mean2 = df['peak-rpm'].mean(skipna=True)
mean3 = df['bore'].mean(skipna=True)
mean4 = df['stroke'].mean(skipna=True)
mean5 = df['horsepower'].mean(skipna=True)
mean6 = df['price'].mean(skipna=True)
mode_doors = df['num-of-doors'].mode()

# fill the NaN values with the mean of the column
df['normalized-losses'] = df['normalized-losses'].fillna(mean1)
df['peak-rpm'] = df['peak-rpm'].fillna(mean2)
df['bore'] = df['bore'].fillna(mean3)
df['stroke'] = df['stroke'].fillna(mean4)
df['horsepower'] = df['horsepower'].fillna(mean5)
df['price'] = df['price'].fillna(mean6)
df['num-of-doors'] = df['num-of-doors'].fillna(mode_doors)

In [ ]:
df.head()

,symbolling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [ ]:
  df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symbolling         204 non-null    int64
 1   normalized-losses  204 non-null    float64
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       202 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    float64
 19  stroke             204 non-null    float64
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    float64
 22  peak-rpm           204 non-null    float64
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.6+ KB

# **Data Normalizing 3 columns**

**Simple feature scaling**

In [ ]:
#take a dataframe from df
df1 = df

#x_new = x_old / x_max 
df1['length'] = df1['length']/df1['length'].max()
df1['height'] = df1['height']/df1['height'].max()
df1['width'] = df1['width']/df1['width'].max()

#print
df1[['length','height','width']].head()

     length    height     width
0  0.811148  0.816054  0.886584
1  0.822681  0.876254  0.905947
2  0.848630  0.908027  0.915629
3  0.848630  0.908027  0.918396
4  0.851994  0.887960  0.917012

**Min - Max**

In [ ]:
df2 = df

#x_new = x_old - x_min / x_max - x_min
df2['length'] = (df2['length'] - df2['length'].min())/ (df2['length'].max() - df2['length'].min())
df2['height'] = (df2['height'] - df2['height'].min())/ (df2['height'].max() - df2['height'].min())
df2['width'] = (df2['width'] - df2['width'].min())/ (df2['width'].max() - df2['width'].min())

#print
df2[['length','height','width']].head()

     length    height     width
0  0.413433  0.083333  0.316667
1  0.449254  0.383333  0.433333
2  0.529851  0.541667  0.491667
3  0.529851  0.541667  0.508333
4  0.540299  0.441667  0.500000

**Z-Score**

In [ ]:
df3 = df
#x_new = x_old - x_min / x_max - x_min
df3['length'] = (df3['length'] - df3['length'].mean())/ df3['length'].std()
df3['height'] = (df3['height'] - df3['height'].mean())/ df3['height'].std()
df3['width'] = (df3['width'] - df3['width'].mean())/ df3['width'].std()

#print
df3[['length','height','width']].head()

     length    height     width
0 -0.426707 -2.040916 -0.846254
1 -0.232565 -0.556319 -0.194095
2  0.204253  0.227218  0.131985
3  0.204253  0.227218  0.225150
4  0.260878 -0.267648  0.178567

# **Binning**

In [ ]:
#price
import numpy as np
bins_price = np.linspace(min(df['price']), max(df['price']),4)
group_names = ['Low', 'Medium','High']
df['price-binned']= pd.cut(df['price'],bins_price, labels = group_names, include_lowest = True)
df[['price','price-binned']]

       price price-binned
0    16500.0          Low
1    16500.0          Low
2    13950.0          Low
3    17450.0          Low
4    15250.0          Low
..       ...          ...
199  16845.0          Low
200  19045.0       Medium
201  21485.0       Medium
202  22470.0       Medium
203  22625.0       Medium

[204 rows x 2 columns]

In [ ]:
#Engine-size
bins_engine = np.linspace(min(df['engine-size']), max(df['engine-size']),4)
group_names = ['Small', 'Normal','Big']
df['engine-binned']= pd.cut(df['engine-size'],bins_engine, labels = group_names, include_lowest = True)
df[['engine-size','engine-binned']]

     engine-size engine-binned
0            130         Small
1            152        Normal
2            109         Small
3            136         Small
4            136         Small
..           ...           ...
199          141         Small
200          141         Small
201          173        Normal
202          145         Small
203          141         Small

[204 rows x 2 columns]

In [ ]:
#Horsepower
bins_horsepower = np.linspace(min(df['horsepower']), max(df['horsepower']),5)
group_names = ['Slow', 'Medium','Fast', 'Super Fast']
df['horsepower-binned']= pd.cut(df['horsepower'],bins_horsepower, labels = group_names, include_lowest = True)
df[['horsepower','horsepower-binned']]

     horsepower horsepower-binned
0         111.0            Medium
1         154.0            Medium
2         102.0              Slow
3         115.0            Medium
4         110.0            Medium
..          ...               ...
199       114.0            Medium
200       160.0            Medium
201       134.0            Medium
202       106.0              Slow
203       114.0            Medium

[204 rows x 2 columns]

# **Turning categorical variables into quantiative variables**

In [ ]:
check_df = df

dummies = pd.get_dummies(df['fuel-type'])

# Combine the original dataframe with the dummy variables
check_df = pd.concat([df, dummies], axis=1)

# Drop the original 'color' column
check_df = check_df.drop('fuel-type', axis=1)

# Print updated dataframe
check_df

,symbolling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,horsepower,peak-rpm,city-mpg,highway-mpg,price,price-binned,engine-binned,horsepower-binned,diesel,gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,-0.426707,...,111.0,5000.0,21,27,16500.0,Low,Small,Medium,0,1
1,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,-0.232565,...,154.0,5000.0,19,26,16500.0,Low,Normal,Medium,0,1
2,2,164.0,audi,std,four,sedan,fwd,front,99.8,0.204253,...,102.0,5500.0,24,30,13950.0,Low,Small,Slow,0,1
3,2,164.0,audi,std,four,sedan,4wd,front,99.4,0.204253,...,115.0,5500.0,18,22,17450.0,Low,Small,Medium,0,1
4,2,122.0,audi,std,two,sedan,fwd,front,99.8,0.260878,...,110.0,5500.0,19,25,15250.0,Low,Small,Medium,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95.0,volvo,std,four,sedan,rwd,front,109.1,1.191138,...,114.0,5400.0,23,28,16845.0,Low,Small,Medium,0,1
200,-1,95.0,volvo,turbo,four,sedan,rwd,front,109.1,1.191138,...,160.0,5300.0,19,25,19045.0,Medium,Small,Medium,0,1
201,-1,95.0,volvo,std,four,sedan,rwd,front,109.1,1.191138,...,134.0,5500.0,18,23,21485.0,Medium,Normal,Medium,0,1
202,-1,95.0,volvo,turbo,four,sedan,rwd,front,109.1,1.191138,...,106.0,4800.0,26,27,22470.0,Medium,Small,Slow,1,0
203,-1,95.0,volvo,turbo,four,sedan,rwd,front,109.1,1.191138,...,114.0,5400.0,19,25,22625.0,Medium,Small,Medium,0,1

In [ ]:
df

,symbolling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,price-binned,engine-binned,horsepower-binned
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,16500.0,Low,Small,Medium
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154.0,5000.0,19,26,16500.0,Low,Normal,Medium
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.40,10.0,102.0,5500.0,24,30,13950.0,Low,Small,Slow
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.40,8.0,115.0,5500.0,18,22,17450.0,Low,Small,Medium
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,3.40,8.5,110.0,5500.0,19,25,15250.0,Low,Small,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.15,9.5,114.0,5400.0,23,28,16845.0,Low,Small,Medium
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.15,8.7,160.0,5300.0,19,25,19045.0,Medium,Small,Medium
201,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,2.87,8.8,134.0,5500.0,18,23,21485.0,Medium,Normal,Medium
202,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,3.40,23.0,106.0,4800.0,26,27,22470.0,Medium,Small,Slow
203,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.15,9.5,114.0,5400.0,19,25,22625.0,Medium,Small,Medium